<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tyche.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tyche.Domain.Application.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tyche.Domain.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tyche.Domain.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tyche.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tyche.Properties.Settings>
            <setting name="Lambda" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Sigma" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Mean" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>123</value>
            </setting>
        </Tyche.Properties.Settings>
        <Tyche.Domain.Application.Settings>
            <setting name="Lambda" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Sigma" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Mean" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>123</value>
            </setting>
        </Tyche.Domain.Application.Settings>
        <Tyche.Domain.Settings>
            <setting name="Lambda" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Sigma" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Mean" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>123</value>
            </setting>
        </Tyche.Domain.Settings>
        <Tyche.Domain.Settings1>
            <setting name="asdva" serializeAs="String">
                <value>12</value>
            </setting>
        </Tyche.Domain.Settings1>
        <Tyche.Settings>
            <setting name="Lambda" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Mean" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sigma" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>123</value>
            </setting>
        </Tyche.Settings>
    </userSettings>
</configuration>